<%- include('../Includes/header.ejs')%>


<link rel="stylesheet" href="/CSS/login.css">

<%-include('../Includes/navbar.ejs')%>

</head>
<body>

<main>
    
    <div class="login-form">    
        <form action="/postLogin" method="POST">
            
            <h4 class="modal-title">Login to Your Account</h4>
            <p class="text-danger"><%=verification%></p>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email-Id" required="required">
            </div><br>
            <p class="text-danger"><%=mailData%></p>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="required">
            </div><br>
            <p class="text-danger"><%=passwordData%></p>
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">              
        </form>			
       
    

</main>


<%-include('../Includes/footer.ejs')%>