<%- include('../Includes/header.ejs')%>


<link rel="stylesheet" href="/CSS/viewblog.css">

<%-include('../Includes/navbar.ejs')%>

</head>
<body>

<main>
    <%if(data.length > 0){%>
    <div class="container">
        <h1 class="mb-4"><i>Your Blog Details</i></h1><br>
        <button class="btn btn-secondary btn-custom" id="viewBlogBtn"><a href="/logOut">Log Out</a></button>
        <br>
        <br>
        
            <%for(let obj of data){%>
                <div class="blog">
                    <h3><i>Title:</i> <%=obj.title%> </h3><br>
                    <h3><i>Description:</i> <%=obj.description%> </h3><br><br>
                    <h3><i>Blog Image:</i> <img src="<%=obj.image[0]%>" alt=""> <img src="<%=obj.image[1]%>" alt=""> </h3><br>
                </div>    
            <%}%>
        
        
    </div>
    
    <%}else{%>
        <h2>You have Created No Blogs</h2>
    <%}%>
</main>


<%-include('../Includes/footer.ejs')%>